version: "3.8"

services:
  db:
    image: postgres:15-alpine
    # Load secrets from the .env file
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - .:/app
    environment:
      # We build the URL dynamically using the secrets
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    depends_on:
      - db
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules # <--- CRITICAL: This tells Docker "Don't look at my laptop for this folder, keep it inside."
    environment:
      - CHOKIDAR_USEPOLLING=true # Helps with hot-reloading on Linux
    depends_on:
      - backend

volumes:
  postgres_data:
